@page
@model LocationTracker.Pages.Studies.History.CreateModel

@{
    ViewData["Title"] = "Create Study";
}


<h4>StudyHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.StudyID" class="control-label"></label>
                <select asp-for="StudyHistoryCreateVM.StudyID" class="form-control" asp-items="ViewBag.StudyID" ></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.StatusID" class="control-label"></label>
                <select asp-for="StudyHistoryCreateVM.StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.StudyTypeID" class="control-label"></label>
                <select asp-for="StudyHistoryCreateVM.StudyTypeID" class="form-control" asp-items="ViewBag.StudyTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.VendorID" class="control-label"></label>
                <select asp-for="StudyHistoryCreateVM.VendorID" class="form-control" asp-items="ViewBag.Vendors"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.StartDate" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.StartDate" class="form-control" type="date" />
                <span asp-validation-for="StudyHistoryCreateVM.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.EndDate" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.EndDate" class="form-control" type="date" />
                <span asp-validation-for="StudyHistoryCreateVM.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.UnderratedIssues" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.UnderratedIssues" class="form-control" type="number" min="0"/>
                <span asp-validation-for="StudyHistoryCreateVM.UnderratedIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.ArcFlashIssues" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.ArcFlashIssues" class="form-control" type="number" min="0"/>
                <span asp-validation-for="StudyHistoryCreateVM.ArcFlashIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.EquipmentProtectionIssues" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.EquipmentProtectionIssues" class="form-control" type="number" min="0" />
                <span asp-validation-for="StudyHistoryCreateVM.EquipmentProtectionIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistoryCreateVM.Comment" class="control-label"></label>
                <input asp-for="StudyHistoryCreateVM.Comment" class="form-control" />
                <span asp-validation-for="StudyHistoryCreateVM.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
