@page
@model LocationTracker.Pages.Studies.History.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StudyHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyHistory.StudyHistoryID" />
            <div class="form-group">
                <label asp-for="StudyHistory.StudyID" class="control-label"></label>
                <select asp-for="StudyHistory.StudyID" class="form-control" asp-items="ViewBag.StudyID"></select>
                <span asp-validation-for="StudyHistory.StudyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistory.StatusID" class="control-label"></label>
                <select asp-for="StudyHistory.StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                <span asp-validation-for="StudyHistory.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistory.StudyTypeID" class="control-label"></label>
                <select asp-for="StudyHistory.StudyTypeID" class="form-control" asp-items="ViewBag.StudyTypeID"></select>
                <span asp-validation-for="StudyHistory.StudyTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistory.StartDate" class="control-label"></label>
                <input asp-for="StudyHistory.StartDate" class="form-control" />
                <span asp-validation-for="StudyHistory.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistory.EndDate" class="control-label"></label>
                <input asp-for="StudyHistory.EndDate" class="form-control" />
                <span asp-validation-for="StudyHistory.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyHistory.Comment" class="control-label"></label>
                <input asp-for="StudyHistory.Comment" class="form-control" />
                <span asp-validation-for="StudyHistory.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id="@Model.StudyHistory.StudyID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
