@page
@model LocationTracker.Pages.Studies.Results.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StudyResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyResult.StudyResultID" />

            <div class="form-group">
                <label asp-for="StudyResult.UnderratedIssues" class="control-label"></label>
                <input asp-for="StudyResult.UnderratedIssues" class="form-control" />
                <span asp-validation-for="StudyResult.UnderratedIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyResult.ArcFlashIssues" class="control-label"></label>
                <input asp-for="StudyResult.ArcFlashIssues" class="form-control" />
                <span asp-validation-for="StudyResult.ArcFlashIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyResult.EquipmentProtectionIssues" class="control-label"></label>
                <input asp-for="StudyResult.EquipmentProtectionIssues" class="form-control" />
                <span asp-validation-for="StudyResult.EquipmentProtectionIssues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyResult.DateCompleted" class="control-label"></label>
                <input asp-for="StudyResult.DateCompleted" class="form-control" />
                <span asp-validation-for="StudyResult.DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
