@page
@model LocationTracker.Pages.Locations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.LocationCode" class="control-label"></label>
                <input asp-for="LocationCreateVM.LocationCode" class="form-control" />
                <span asp-validation-for="LocationCreateVM.LocationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.DivisionName" class="control-label"></label>
                <select asp-for="LocationCreateVM.DivisionName" class="form-control" asp-items="ViewBag.DivisionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.FirstAddress" class="control-label"></label>
                <input asp-for="LocationCreateVM.FirstAddress" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.SecondAddress" class="control-label"></label>
                <input asp-for="LocationCreateVM.SecondAddress" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.City" class="control-label"></label>
                <input asp-for="LocationCreateVM.City" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.StateProvince" class="control-label"></label>
                <input asp-for="LocationCreateVM.StateProvince" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.Country" class="control-label"></label>
                <input asp-for="LocationCreateVM.Country" class="form-control" typeof="text">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.PostalCode" class="control-label"></label>
                <input asp-for="LocationCreateVM.PostalCode" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label asp-for="LocationCreateVM.Lattitude" class="control-label"></label>
                <input asp-for="LocationCreateVM.Lattitude" type="number" step=0.000001 class="control-label" />
            </div>

            <div class="form-group">
                <label asp-for="LocationCreateVM.Longitude" class="control-label"></label>
                <input asp-for="LocationCreateVM.Longitude" type="number" step=0.000001 class="control-label" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
